body, html {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(#430e80, #030d63);
    height: 100vh;
    overflow: hidden;
    color: #000000;
}

.accordion-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    margin: 60px 120px 60px 120px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 8px black;
}

.accordion-btn {
    display: flex;
    background-color: white;
    cursor: pointer;
    padding: 20px;
    text-align: left;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-bottom: 1px solid black;
    position: relative;
}

.active, .accordion-btn:hover {
    background-color: #430e80;
    color: white
}

.accordion-btn:after {
    content: '\002B';
    color: #000000;
    font-weight: bold;
    position: absolute;
    right: 20px;
}

.active:after {
    content: "\2212";
}

.text {
    padding: 18px;
    background-color: rgba(67, 14, 128, .2);
    display: none;
}